@model RentTech.Models.DomainModels.TechItem

@{
    ViewData["Title"] = "Details";
    TimeZoneInfo tzPacific = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
}



<div class="text-center">
    <h1>@Model.Title</h1>
    <img src="@Model.Thumbnail" alt="@Model.Description" />
    <hr />
    <div>
        @Html.DisplayNameFor(model => model.Description)
        @Html.DisplayFor(model => model.Description)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Price)
        @Html.DisplayFor(model => model.Price)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Condition)
        @Html.DisplayFor(model => model.Condition)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Type)
        @Html.DisplayFor(model => model.Type)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Owner.UserName)
        @Html.DisplayFor(model => model.Owner.UserName)
    </div>
    <a asp-action="AddReview" asp-route-id="@Model?.TechItemId" class="btn btn-info col-1 mb-3">Review</a>
    @if (User.IsInRole("Admin") || User.Equals(Model.Owner))
    {
        <a asp-action="Edit" asp-route-id="@Model?.TechItemId" class="btn btn-warning col-1 mb-3">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model?.TechItemId" class="btn btn-danger col-1 mb-3">Delete</a>
    }
    <a asp-action="Index" class="btn btn-primary col-3 mb-3">Back to Browse</a>


    @if (Model.Reviews != null && Model.Reviews.Count != 0)
    {
        <h5 class="m-3">Reviews:</h5>
        <div class="d-flex m-3 justify-content-center">
            @foreach (var review in Model.Reviews)
            {
                <div>
                    <h4 class="m-3">@review.Text</h4>
                </div>
                <div>
                    <strong class="m-3">Rating:</strong>
                    <h4 class="m-3">@review.Rating</h4>
                </div>
                <div>
                    <strong class="m-3">User:</strong>
                    <p class="m-3">@review.Reviewer.UserName</p>
                </div>
                <div>
                    <strong class="m-3">Date:</strong>
                    <p class="m-3">@TimeZoneInfo.ConvertTimeFromUtc(review.ReviewDate, tzPacific).ToString("g")</p>
                </div>
            }
        </div>
    }
</div>


