@model IEnumerable<RentTech.Models.DomainModels.TechItem>

@{
    ViewData["Title"] = "Index";
}
<div class="container text-center">
    <h3>Search:</h3>
    <form asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" placeholder="Filter by title..." name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary btn-sm"/>
        </div>
    </form>
    <br/><br/>
    <div class="d-flex list">
    @foreach (var item in Model)
    {
        <div class="item">
            <h2>
                @Html.DisplayFor(modelItem => item.Title)
            </h2>
            <h4>
               Description: @Html.DisplayFor(modelItem => item.Description)
            </h4>
            <h4>
               Cost to Rent: $@Html.DisplayFor(modelItem => item.Price) / 6 months
            </h4>
            <h4>
               Condition: @Html.DisplayFor(modelItem => item.Condition)
            </h4>
            <h4>
               Product Type: @Html.DisplayFor(modelItem => item.Type)
            </h4>
        <a href="/TechItems/Details/@item.TechItemId"><img src="@item.Thumbnail" alt="@item.Description"/></a><br />
        <a class="btn btn-primary mb-5" asp-controller="Checkout" asp-action="Purchase" asp-route-id="@item.TechItemId">Rent</a>
        </div>
    }
    </div>
</div>
