@model RentTech.Models.ViewModels.TechItemVM
<div class="wrapper">
    <div class="checkout container">
        <form id="payment-form" method="post" asp-controller="Checkout" asp-action="Create">
            @Html.HiddenFor(n => n.ItemId)
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" name="Title" asp-for="@Model.Title">@Model.Title</h5>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">@Model.Price</p>
                </div>
                <img style="width: 90%" class="card-img-bottom" src="@Model.Thumbnail" alt="Card image cap" />
            </div>
            <section>
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>
            <hr />
            @*<button class="btn btn-success" type="submit"><span>Confirm payment - $@Model.Price</span></button>*@
            <script src="https://checkout.stripe.com/checkout.js" 
            class="stripe-button"
            data-key="pk_test_51JbCZFBNmTxXVxUhJ3mqKBVrorqhMnjtUaeBQTrNsYn2ixhPT1oj1zBdLMAAxO6MgRv45C1FEn7Jru3V2nf1aRRg00ywpOHCCV"
            data-name="ItemShare Payment"
            data-description="@Model.Title"
            data-locale="en"
            data-label="Confirm Payment - $@ViewBag.PaymentAmount"></script>
        </form>
    </div>
</div>

<script src="https:///js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin'
    })
</script>
